.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.hide {
    display: none;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.column {
    flex-direction: column;
}

.btn {
    background-color: rgba(255, 127, 0, 1);
    border: 1px solid black;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    margin: 10px 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
}