.canvas-container article {
    padding: 10px;
}

.canvas-container {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}

canvas {
    background-color: white;
    border: 1px solid black;
}