main {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.title-gallery h1 {
    text-align: center;
    margin-top: 0;
}


button img {
    width: 20px;
    height: 20px;
}



.gallery-container img {
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

.gallery-container img:hover {
    scale: 1.05;
}

button {
    cursor: pointer;
}


input:not([type="text"]) {
    cursor: pointer;
}

input[type="text"] {
    border-radius: 20px;
    padding: 10px;
    border: 1ps solid black;
    width: 100%;
}

.main-functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    gap: 20px;
    padding-top: 20px;
}

.bottom-functions {
    width: 100%;
}

.functions {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 500px;
}

button {
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    margin: 7px;
    min-height: 30px;
    width: 70px;
}

.data-functions {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
}

.data-functions button {
    border-radius: 15px;
}

button:hover {
    scale: 1.05;
}

input:hover {
    scale: 1.05;
}

.input-btn {
    position: relative;
    z-index: 3
}

.input-btn input {
    position: absolute;
    z-index: 0;
    opacity: 0;
    right: 10px;
    bottom: 5px;
}

.input-btn button {
    position: absolute;
}