main {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.title-gallery h1 {
    text-align: center;
    margin-top: 0;
}


button img {
    width: 20px;
    height: 20px;
}



.gallery-container img {
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
    border: 5px solid transparent;
}

.gallery-container img:hover {
    border: 5px solid rgba(255, 127, 0, 1)
}

button {
    cursor: pointer;
}


input:not([type="text"]) {
    cursor: pointer;
}