@media (max-width: 980px) {
    .main-layout {
        grid-template-columns: 50px minmax(auto, 850px) 50px;
    }

    .gallery-container {
        grid-template-columns: repeat(4, 200px);
    }

    .title-gallery h1 {
        font-size: 24px;
    }

    img {
        width: 150px;
    }

    header li {
        padding: 20px 30px;
    }

    canvas {
        height: 350px;
        width: 300px;
    }

    .functions {
        height: 350px;
    }
}

@media (max-width: 880px) {
    .main-layout {
        grid-template-columns: 50px minmax(auto, 750px) 50px;
    }

    .gallery-container {
        grid-template-columns: repeat(4, 170px);
    }

    .title-gallery h1 {
        font-size: 24px;
    }

    img {
        width: 150px;
    }

    header li {
        padding: 20px 30px;
    }

    canvas {
        height: 350px;
        width: 300px;
    }

    .functions {
        height: 350px;
    }
}

@media (max-width:750px) {
    .main-layout {
        grid-template-columns: 50px minmax(auto, 850px) 50px;
    }

    .gallery-container {
        grid-template-columns: repeat(2, 200px);
    }

    .title-gallery h1 {
        font-size: 20px;
    }

    .canvas-container {
        gap: 10px;
    }

    main {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header li {
        padding: 15px 30px;
    }

    img {
        width: 250px;
    }

    canvas {
        height: 250px;
        width: 300px;
    }

    .memes {
        grid-auto-flow: row;
    }

    .functions {
        height: 300px;
    }
}